@media (max-width: 1400px) {
    .tile .expand-btn {
        width: 60px;
        height: 60px;
    }

    .promo-slider .owl-nav {
        margin-left: -560px;
        width: 1120px;
    }

    #promo .decor-gear {
        width: 560px;
        background-size: 560px;
    }

    main section#main-directions ul.page-list {
        margin-left: 35px;
    }
}

@media (max-width: 1200px) {
    .container-fluid {
        padding-left: 30px;
        padding-right: 30px;
    }

    header.header {
        border-bottom: 1px solid #55589c;
    }

    header.header.education .logo, header.header.education .logo img {
        height: 70px;
    }

    header.header.education .logo span {
        display: inline;
    }

    header.header .logo a img {
        width: auto;
    }

    .header-contacts,
    .navbar-expand .navbar-nav {
        display: none;
    }

    .navbar .navbar-burger {
        display: block;
    }

    .promo-slider .owl-nav {
        margin-left: 0;
        padding-left: 30px;
        padding-right: 30px;
        width: 100%;
        left: 0;
    }

    .tile .tile-content .tile-image {
        max-width: 250px;
    }

    .form-container.direction .large-btn-group .btn-high {
        width: 100%;
    }

    .partner-item {
        padding: 20px;
    }

    .partner-item img {
      max-width: 100%;
        height: 100%;
    }
}

@media (max-width: 1200px) and (min-width: 992px) {
    .tile .tile-title {
        min-height: 135px;
    }
}

@media (max-width: 1130px) {
    .tile .tile-content .tile-image {
        max-width: 230px;
    }
}

@media (max-width: 1070px) {
    .tile .tile-content .tile-image {
        max-width: 210px;
    }
}

@media (max-width: 1070px) {
    .tile .tile-content .tile-image {
        max-width: 200px;
    }
}

@media (max-width: 992px) {
    #promo .decor-gear {
        width: 440px;
        background-size: 440px;
    }

    .slider-item .slide-content .slide-description {
        margin-top: 10px;
        margin-left: 35px;
    }

    h2.title {
        margin-bottom: 20px;
    }

    .tile .tile-content .tile-image {
        max-width: unset;
    }

    .about-image {
        border-radius: 0;
    }

    .about-btn {
        display: none;
    }

    .benefit-item {
        margin-bottom: 40px;
    }

    .feedback-right,
    .feedback-image,
    .feedback-image img {
        height: 100%;
    }

    .feedback-image {
        overflow-y: hidden;
    }

    .feedback-image img {
        object-fit: cover;
    }

    .footer-right {
        margin-top: 30px;
        max-width: unset;
    }

    .footer-right .footer-nav-list {
        justify-content: flex-start;
    }

    .footer-right .footer-nav-list .footer-nav-item {
        margin-right: 20px;
    }

    main section#main-directions .col-12:last-child ul.page-list {
        margin-top: 30px;
    }

    main .section-content .page-description {
        margin-right: 35px;
    }

    ul.info-list-secondary {
        margin-left: 35px;
    }

    .left-container {
        margin-right: 0;
    }

    .right-container {
        margin-left: 0;
        margin-top: 40px;
    }

    .left-container h2,
    .right-container h2 {
        min-height: auto;
    }

    form {
        max-width: unset;
    }

    .page-right-content {
        margin-top: 20px;
    }

    main.centered-content {
        padding: 60px 15px;
    }

    main.centered-content .form-container.quiz-result {
        min-width: unset;
    }
}

@media (min-width: 992px) {
    .pl-lg-35 {
        padding-left: 35px;
    }

    .pr-lg-35 {
        padding-right: 35px;
    }
}

@media (max-width: 767px) {

    h1.page-header,
    h2.title,
    .left-container h2,
    .right-container h2 {
        font-size: 46px;
    }

    .tile .tile-content .tile-image {
        max-width: 230px;
    }

    .feedback-form {
        margin-top: 0;
        max-width: unset;
    }

    .feedback-form .btn-brand {
        margin-top: 30px;
    }

    .btn-brand {
        display: block;
        margin: 0 auto;
        border-radius: 10px;
    }

    #feedback .btn-brand {
        margin-left: 0;
    }

    .feedback-title {
        margin-top: 30px;
    }

    .footer-right .footer-nav-list {
        display: block;
    }

    .footer-right .footer-nav-list .footer-nav-item {
        margin: 10px 0;
    }

    main .section-content .page-description {
        margin-right: 0;
        margin-bottom: 30px;
    }

    ul.info-list-secondary li {
        margin-bottom: 0;
    }

    .popup .image-container {
        padding: 80px 0;
    }

    main section#add-services h1.page-header {
        text-align: center;
    }

    main section#add-services .section-content {
        padding-top: 0;
    }

    .accordion {
        margin-bottom: 30px;
    }

    .service-right {
        padding: 20px 10px;
        background-color: #fafafa;
        border-radius: 10px;
        overflow: hidden;
    }

    .service-right .service-title h2 {
        font-weight: 300;
        text-align: center;
    }

    .service-right .service-image {
        border-radius: 10px;
    }

    .form-container.direction .large-btn-group .btn-high {
        font-size: 18px;
        padding: 60px 40px;
    }

    .actions .btn {
        width: fit-content;
    }

    .quiz-container form .finish button {
        min-width: unset;
        width: 100%;
    }

    .quiz-container form .questions .question h4 {
        font-size: 14px;
    }

    .centered-content .btn {
        width: fit-content;
    }

    main.centered-content .form-container.quiz-result .btn {
        padding: 15px 30px;
        min-width: unset;
        font-size: 14px;
    }
}

@media (min-width: 767px) {
    .pl-md-70 {
        padding-left: 70px;
    }

    .pr-md-70 {
        padding-right: 70px;
    }
}

@media (max-width: 730px) {
    .tile .tile-content .tile-image {
        max-width: 210px;
    }
}

@media (max-width: 690px) {
    .tile .tile-content .tile-image {
        max-width: 190px;
    }

    .tile .tile-title {
        padding: 15px 10px 10px;
    }

    .tile .tile-title h4 {
        font-size: 16px;
    }
}

@media (max-width: 650px) {
    .tile .tile-content .tile-image {
        max-width: 175px;
    }
}

@media (max-width: 650px) {
    .tile .tile-content .tile-image {
        max-width: 160px;
    }

    .popup .image-container {
        padding: 140px 0;
    }
}

@media (max-width: 576px) {

    h1.page-header,
    h2.title,
    h2.quiz-title,
    .left-container h2,
    .right-container h2 {
        font-size: 36px;
    }

    h3.section-header {
        font-size: 28px;
    }

    #mobile-menu {
        width: 100%;
    }

    #promo .decor-gear {
        width: 250px;
        background-size: 360px;
    }

    #promo h2.title {
        text-align: left;
    }

    #promo .slider-btn .btn {
        margin-left: 0;
        max-width: 260px;
    }

    .promo-slider .owl-nav {
        padding-left: 0;
        padding-right: 0;
        width: 115px;
        left: auto;
        right: 30px;
        bottom: -90px;
        top: auto;
    }

    .owl-carousel .owl-nav button.owl-prev,
    .owl-carousel .owl-nav button.owl-next {
        width: 53px;
        height: 53px;
        background-color: #f8f8f8;
        transition: all, 0.3s;
    }

    .owl-carousel .owl-nav button.owl-prev:hover,
    .owl-carousel .owl-nav button.owl-next:hover {
        background-color: #d9d9e5;
        transition: all, 0.3s;
    }

    .tile .tile-title {
        padding: 20px 20px 10px;
    }

    .tile .tile-title h4 {
        font-size: 24px;
    }

    .tile .tile-content .tile-image {
        max-width: unset;
    }

    .about-description p {
        text-align: center;
    }

    .benefit-item {
        padding: 0 50px;
    }

    .partner-item {
        margin: 5px 0;
    }

    .footer-contacts .footer-address {
        margin-top: 10px;
    }

    .footer-social {
        display: none;
    }

    .footer-social.mobile {
        display: flex;
        margin-top: 20px;
    }

    .footer-social.mobile .social {
        width: 44px;
        height: 44px;
    }

    .footer-official {
        display: block;
    }

    .footer-official .footer-label {
        margin-left: 0;
    }

    .footer-official .footer-privacy {
        margin-bottom: 5px;
    }

    .popup .image-container {
        padding: 10px;
    }

    .popup .image-container img {
        width: 100%;
        height: auto;
    }

    .service-right .service-title h2 {
        font-size: revert;
    }

    .accordion-flush .accordion-item .accordion-header .accordion-button,
    .accordion-flush .accordion-item .accordion-body .accordion-list li a {
        font-size: 14px;
    }

    .accordion-flush .accordion-item .accordion-body .accordion-list li.active:after {
        display: none;
    }

    .service-right .service-content p {
        font-size: 14px;
    }

    section#add-services .btn-brand {
        margin-left: 0;
    }

    table.table,
    .document-title {
        display: none;
    }

    .table-flex {
        display: block;
    }

    main.centered-content h2.title {
        margin-bottom: 20px;
    }

    main.centered-content .form-container {
        padding-left: 7px;
        padding-right: 7px;
    }

    main.centered-content .form-container h2 {
        font-size: 28px;
    }

    .form-container.direction .large-btn-group .btn-high {
        margin: 10px 0;
        padding: 60px 20px;
    }

    main .section-content .simple-tile .tile-contacts a {
      font-size: 12px;
    }
    .structure-tile.arrow-both:before,
    .structure-tile.arrow-both:after {
        top: 50px;
    }

    .alert-wrap {
        top: 0;
        left: 0;
        right: 0;
    }
}

@media (max-width: 450px) {
    .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }

    h1.page-header,
    h2.title,
    h2.quiz-title,
    .left-container h2,
    .right-container h2 {
        font-size: 28px;
    }

    h3.section-header {
        font-size: 20px;
    }

    h4 {
        font-size: 14px;
    }

    .tile .tile-title h4 {
        font-size: 18px;
    }

    p {
        font-size: 14px;
    }

    .btn-brand {
        padding-left: 25px;
        padding-right: 25px;
    }

    section .section-content {
        padding-top: 20px;
    }

    header.header {
        padding: 10px 0;
        min-height: 80px;
    }

    header.header .logo a img {
        max-width: 97px;
        width: auto;
    }

    .navbar {
        padding-top: 0;
        padding-bottom: 0;
    }

    #mobile-menu {
        top: 80px;
        min-height: calc(100vh - 80px);
    }

    .promo-slider .owl-nav {
        right: 15px;
    }

    .tile {
        margin: 10px 0;
    }

    .tile .expand-btn {
        width: 55px;
        height: 55px;
    }

    .tile .expand-btn span.arrow {
        width: 23px;
        height: 23px;
        background-size: cover;
    }

    #service, #about {
        padding-bottom: 40px;
    }

    #benefits .section-content {
        padding: 50px 0;
    }

    .benefit-item .benefit-image {
        max-width: 144px;
    }

    p, .benefit-item .benefit-description p {
        font-size: 14px;
    }

    #feedback {
        padding-top: 40px;
    }

    #feedback .decor-gear {
        display: none;
    }

    form .form-label {
        font-size: 14px;
    }

    main .section-content {
        padding-bottom: 20px;
    }

    main .section-content .simple-tile {
        margin-bottom: 20px;
    }

    main .section-content .simple-tile .tile-title h4 {
        font-size: 18px;
    }

    main .section-content .simple-tile .tile-description p {
        font-size: 14px;
    }

    main section#about .section-content {
        padding: 0;
    }

    main section#about .section-content .about-image {
        margin-top: 30px;
        border-radius: 10px;
        overflow: hidden;
    }

    main section#main-directions .col-12:last-child ul.page-list,
    main section#main-directions ul.page-list {
        margin-top: 20px;
    }

    main section#simple-text p {
        font-size: 18px;
    }

    ul.page-list li.page-list-item {
        margin: 20px 0;
        font-size: 14px;
    }

    ul.page-list li.page-list-item::before {
        top: 7px;
    }

    .table-flex {
        margin-left: -15px;
        margin-right: -15px;
    }

    .table-flex .table-flex-item {
        padding: 15px;
    }

    main.centered-content {
        padding-top: 30px;
        padding-bottom: 50px;
    }

    main.centered-content .form {
        padding-left: 7px;
        padding-right: 7px;
    }

    main.centered-content .form form .btn-brand {
        margin-top: 20px;
        padding-left: 50px;
        padding-right: 50px;
    }

    #promo .slider-btn .btn {
      max-width: 200px;
    }
}

@media (max-width: 410px) {
    .btn {
        font-size: 12px;
    }

    #promo .decor-gear {
        display: none;
    }

    #promo .slider-btn .btn {
        padding-left: 20px;
        padding-right: 20px;
        max-width: 150px;
    }

    .owl-carousel .owl-nav {
      width: 110px;
        bottom: -86px;
    }

    .owl-carousel .owl-nav button.owl-prev,
    .owl-carousel .owl-nav button.owl-next {
        width: 50px;
        height: 50px;
    }

    .tile.active .tile-content .tile-image {
        max-width: 190px;
    }
}

/*# sourceMappingURL=adaptive.css.map */
